@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url(//db.onlinewebfonts.com/c/df6661ea8e32901509b9a437fff6cfaf?family=Reckless+Neue+Light);
.App {
  text-align: center;
  width: 100%;
}
body{
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
}

li{
  list-style: none;
}
/* nav */
.navbar-expand{
  z-index: 99;
  background-color: #0000004d;
}
.nav_wrap .nav_submenu > ul > li > a{
  display: block;
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
.nav_wrap .nav_submenu > ul > li > a:hover{
  color: #ff9000;
}
.nav_wrap .btn-outline-success{
  color: #ff9000;
  border: solid 1px #ff9000;
  position: absolute;
  right: 8px;
  top: 0;
}
.nav_wrap .btn-outline-success:hover{
  background-color: #ff9000;
  border: solid 1px #ff9000;
}
.nav_wrap > form{
  position: relative;
}
.nav_wrap > form > input{
  background-color: transparent;
}
.nav_wrap > form > input::placeholder{
  color: #cecece;
}
.form-control:focus{
  border-color: #ff9000;
  box-shadow: 0 0 0 0.15rem rgb(255, 144, 0, .25);
}
.search_icon{
  position: relative;
  top: -2px;
}

/* 배너 */
.mainBanner_wrap{
  overflow: hidden;
  position: relative;
  top: -105px;
}
.mainBanner_wrap .slick-dots{
  bottom: 30px;
}
.mainBanner_wrap .slick-prev{
  z-index: 1;
  left: 100px;
}
.mainBanner_wrap .slick-next{
  z-index: 1;
  right: 100px;
}
.mainBanner_wrap .slick-prev::before,
.mainBanner_wrap .slick-next::before{
  font-size: 50px;
}
.mainBanner_wrap .slick-dots li.slick-active button:before{
  color: #fff;
}
.main_banner{
  width: 100%;
  background-size: cover;
  background-position-y: 50%;
}
.main_title{
  font-size: 60px;
  margin: 50px;
}

.logo{
  width: 100px;
}
.item-img{
  width: 400px;
}
.main_product{
  margin: 20px 0;
  border: solid 1px #ccccccad;
}
.detail_img{
  width: 500px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.main_btn{
  background-color: transparent;
  width: 100px;
  height: 50px;
  line-height: 30px;
  color: #000;
  transition: 0.5s all ease;
  border: solid 1px #000;
}
.main_btn:hover{
  background-color: #000;
  color: #fff;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* main_page */
.main_page_wrap{
  position: relative;
}
.main_page_wrap::after{
  content: "";
  display: block;
  clear: both;
}
.main_1{
  width: 70%;
  height: 600px;
  background-color: #e6e0e0;
  margin-bottom: 400px;
}
.main_2{
  float: right;
}
.main_1 .main_text_wrap{
  width: 600px;
  margin: 0 auto;
  padding-top: 150px;
  position: relative;
}
.main_1 h2{
  font-family: "Reckless Neue Light";
  font-size: 50px;
  font-weight: 500;
  text-align: start;
  margin-left: 50px;
}
.main_1 span{
  text-align: start;
  display: block;
  width: 500px;
  margin: 0 auto;
  line-height: 30px;
}
.main_1 .main_btn{
  color: #000;
  border: solid 1px #000;
  border-radius: 0;
  position: absolute;
  left: 50px;
  bottom: -100px;
  transition: 0.3s all ease;
}
.main_1 .main_btn:hover{
  background-color: transparent;
  bottom: -96px;
  box-shadow: 2px 2px 2px #797979;
}

.main_1_img{
  width: 600px;
  position: absolute;
  top: 100px;
  right: 18%;
}
.main_2_img{
  width: 600px;
  position: absolute;
  bottom: 100px;
  left: 18%;
}

/* 카테고리 */
.main_cate{
  margin-top: 100px;
}
.main_cate .cate_wrap{
  justify-content: space-between;
}
.main_cate .cate_wrap > ul{
  width: 49.5%;
  padding: 0;
}
.cate_img{
  width: 100%;
  position: relative;
  transition: 0.5s all ease;
  overflow: hidden;
}
.cate_hover{
  width: 100%;
  height: 100%;
  background-color: #ffffff73;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.5s all ease;
}
.cate_btn{
  width: 100px;
  color: #000;
  border: solid 1px #000;
  position: relative;
  top: calc(50% - 20px);
  height: 40px;
}
.cate_btn:hover{
  background-color: #000;
  color: #fff;
  border: solid 1px #000;
}
.cate_img:hover .cate_hover{
  top: 0;
}
.cate_img img{
  width: 100%;
  height: 380px;
  object-fit: cover;
}
.cate_wrap p{
  font-family: "Reckless Neue Light";
  font-size: 20px;
  margin: 10px 0 30px 0;
}

/* best */
.best_wrap{
  margin-top: 100px;
  height: 700px;
}
.best_wrap h2{
  margin: 20px 0;
  font-family: "Reckless Neue Light";
  font-size: 50px;
}
.mySwiper{
  height: 600px;
}
.bestitem{
  margin-top: 60px;
}
.bestimg{
  width: 100%;
}
.bestimg_wrap{
  position: relative;
}
.best_icon{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 30px;
  font-size: 30px;
}
#root .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal{
  top: 595px;
}
#root .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #ff9000;
}
#root .swiper-button-next,
#root .swiper-button-prev{
  color: #ff9000;
  top: 30px;
}
#root .swiper-button-prev{
  left: 93%;
}
#root .swiper-button-next:after, #root .swiper-button-prev:after{
  font-size: 20px;
}

/* 이벤트 */
.event{
  width: 90%;
  height: 800px;
  margin: 0 auto;
  margin-top: 150px;
}
.event h2{
  margin: 40px 0;
  margin-bottom: 60px;
  font-family: "Reckless Neue Light";
  font-size: 50px;

}
.event .event_wrap > ul > li{
  width: 33.33%;
}
.event .event_wrap > ul > li:nth-child(1),
.event .event_wrap > ul > li:nth-child(3){
  border-top: solid 2px #000;
}
.event .event_wrap > ul > li:nth-child(2){
  border-bottom: solid 2px #000;
}
.event_img_wrap img{
  width: 500px;
}
.event .event_wrap > ul > li:nth-child(1) .event_img_wrap{
  width: 90%;
  margin: 0 auto;
  height: 600px;
}
.event .event_wrap > ul > li:nth-child(2) .event_img_wrap{
  width: 90%;
  margin: 0 auto;
  height: 600px;
}
.event .event_wrap > ul > li:nth-child(3) .event_img_wrap{
  width: 90%;
  margin: 0 auto;
  height: 600px;
}
.event_title{
  font-size: 25px;
  margin: 40px 0;
  font-weight: 700;
}
.event_arrow img{
  height: 13px;
  width: 28px;
  margin-left: 20px;
}

/* 푸터 */
.footer_wrap{
  background-color: #f3f3f3;
  position: relative;
  margin-top: 200px;
}
.footer_1{
  position: absolute;
  top: -30px;
  left: calc(50% - 400px);
  width: 800px;
}
.footer_1 h2{
  font-family: "Reckless Neue Light";
  font-size: 50px;
  font-weight: 500;
}
.footer_1 > p{
  width: 600px;
  margin: 0 auto;
}
.footer_2{
  padding-top: 250px;
}
.footer_2 ul{
  padding: 0;
  margin: 0;
}
.footer_2 > ul{
  display: flex;
  justify-content: space-around;
}
.footer_2 > ul > li{
  width: 20%;
  padding: 0;
  margin: 0;
  text-align: start;
}
.footer_2 > ul > li:first-child{
  width: 230px;
  text-align: start;
}
.footer_2 .footer_btn{
  border-radius: 0;
  color: #000;
  border: solid 2px #000;
  width: 90px;
  font-size: 13px;
  height: 45px;
}
.footer_2 > ul > li > p:first-child{
  color: #a2a2a2;
  font-size: 17px;
}
.footer_2 .footer_depth2 li a{
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 35px;
  font-size: 14px;
}
.footer_3 ul{
  width: 500px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.footer_3 a{
  font-size: 12px;
  text-decoration: none;
  color: #797979;
  display: block;
}

/* product */   
/* list */
.product_title h2{
  font-family: "Reckless Neue Light";
  font-size: 50px;
  font-weight: 500;
  margin: 100px;
}
.list_item{
  margin-bottom: 50px;
  text-align: start;
}
.list_item span{
  width: 97%;
  height: 1px;
  display: block;
  border: solid 1px #c7c7c7;
  margin: 15px 0;
}
.list_item h4{
  font-size: 20px;
  margin-top: 15px;
}
.list_item p{
  font-size: 14px;
}
.list_item .best_icon{
  right: 25px;
}
.list_img_wrap{
  position: relative;
}

.list_img{
  background-color: #f3f3f3;
  width: 400px;
  
}


/* 디테일 */
.alert{
  background-color: #DBC29C;
  width: 100%;
}
.detail_wrap{
  margin-top: 100px;
  text-align: start;
}
.detail_wrap h2{
  font-size: 40px;
  font-weight: 700;
}
.detail_img{
  background-color: #f3f3f3;
}
.detail_wrap p{
  color: #797979;
}
.detail_num input{
  margin-left: 20px;
  border: none;
  border-bottom: 1px solid #000;
}
.detail_num input::placeholder{
  padding-left: 10px;
  font-size: 15px;
}
.detail_wrap .detail_btn{
  background-color: transparent;
  color: #000;
  border: solid 1px #000;
  border-radius: 0;
  width: 158px;
}
.detail_wrap .detail_buy_btn{
  margin-top: 100px;
}
.detail_buy_btn button{
  border-radius: 2px;
  margin-right: 50px;
  font-size: 14px;
  width: 150px;
  height: 50px;
}
.detail_buy_btn .buy_1{
  background-color: #DBC29C;
  color: #fff;
  border: none;
}
.detail_buy_btn .buy_2{
  background-color: transparent;
  color: #DBC29C;
  border: solid 1px #DBC29C;
}
.detail_detail .nav-tabs{
  border-bottom: solid 1px #DBC29C;
}
.detail_detail .nav-tabs .nav-link.active{
  border-color: #DBC29C #DBC29C #fff;
}
.detail_tab_wrap{
  justify-content: center;
  margin-top: 100px;
}
.detail_tab_wrap .nav-link{
  color: #DBC29C;
}
.detail_tab{
  text-align: center;
}
.detail_review{
  position: relative;
}
.detail_text_wrap{
  border-bottom: solid 1px #DBC29C;
}
.detail_text_wrap p{
  line-height: 80px;
}
.detail_tab button{
  border: solid 1px #DBC29C;
  color: #DBC29C;
  position: absolute;
  bottom: -50px;
  right: 0;
}

/* Q&A */
.notice{
  margin-top: 100px;
  position: relative;
  left: calc(50% - 500px);
  width: 1000px;
}
.notice h2{
  font-family: "Reckless Neue Light";
  font-size: 80px;
  font-weight: 500;
}
.notice .notice_title_wrap p{
  text-align: start;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 13px;
  color: #a2a2a2;
}
.notice .notice_inner_title{
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.notice_many,
.notice_qna{
  text-align: start;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
}
.notice_qna{
  margin-top: 100px;
}

.notice .notice_inner_title span:nth-child(2){
  width: 150px;
  text-align: start;
}
.notice .accordion-item{
  border-top: solid 1px #000;
  border-radius: 0;
  border-right: none;
  border-left: none;
}
.notice .accordion-item:first-child{
  border-bottom: none !important;
}
.notice .accordion-item:last-child{
  border-bottom: solid 1px #000;
}

.notice .notice_inner_text{
  width: 600px;
  margin: 0 auto;
  text-align: start;
  font-size: 13px;
  padding: 30px 0;
}
.notice .accordion-button:not(.collapsed){
  background-color: #DBC29C;
  color: #fff;
  border-radius: 0;
}
.notice .accordion-button:focus{
  border-color: #DBC29C;
  box-shadow: none;
  border-radius: 0;
}
.notice .accordion-button:not(.collapsed)::after{
  background-image: var(--bs-accordion-btn-icon);
}
.notice .notice_qna_inner:first-child{
  border-top: solid 1px #000;
}
.notice .notice_qna_inner{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #000;
  line-height: 50px;
}
.notice .notice_qna_inner span:nth-child(2){
  width: 500px;
  text-align: start;
  display: block;
}
.notice_btn{
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0;
  font-size: 13px;
  height: 33px;
}
.notice_bottom{
  margin-top: 50px;
}
.notice_search{
  margin-left: 350px;
}
.notice_bottom .notice_search_btn{
  width: 131px;
  border-radius: 0;
  background-color: transparent;
  color: #DBC29C;
  border: solid 1px #DBC29C;
  margin-right: 30px;
  font-size: 13px;
}
.notice_bottom .dropdown-toggle::after{
  margin-left: 80px;
}
.notice_bottom .dropdown-menu{
  min-width: 130px;
}
.notice_bottom .dropdown-item{
  width: 130px !important;
}
.notice_search_btn_inner{
  border-radius: 0;
}
.notice_bottom .form-control{
  border-radius: 0;
  font-size: 13px;
  height: 33px;
}
.notice_bottom .notice_search_icon{
  border: none;
  color: #000;
  position: absolute;
  right: 10px;
}
.notice_bottom .notice_search_icon:hover{
  background-color: transparent;
}
.notice_search > form{
  position: relative;
}

/* about */
.about{
  margin-top: 100px;
}
.about_wrap{
  width: 950px;
  margin: 50px auto;
  position: relative;
}
.about_wrap:hover .about_icon,
.about_inner:hover .about_icon,
.about_wrap3:hover .about_icon,
.about_wrap4:hover .about_icon{
  left: 20px;
}
.about h2{
  font-family: "Reckless Neue Light";
  font-size: 50px;
  font-weight: 500;
}
.about .about_text{
  position: absolute;
  left: -20px;
  bottom: -25px;
  width: 500px;
  background-color: #DBC29C;
  text-align: start;
  font-family: "Reckless Neue Light";
  color: #fff;
  font-size: 30px;
  padding-left: 20px;
}

.about .about_icon{
  width: 100px;
  line-height: 40px;
  font-size: 70px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;
  transition: 0.3s all ease;
}
.about_margin{
  margin-top: 300px !important;
}
.about_wrap2{
  width: 950px;
  margin: 200px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.about_inner{
  position: relative;
}
.about_inner2{
  top: 100px;
}
.about_img2 img{
  width: 450px;
  object-fit: cover;
}
.about .about_text2{
  width: 350px;
  bottom: -60px;
}
.about_wrap3{
  position: relative;
  width: 1100px;
  margin: 100px 803px;
}
.about_wrap3 > .about_img{
  text-align: end;
}
.about_wrap3 .about_text{
  left: calc(30% - 400px);
  bottom: -50px;
}
.about_wrap4{
  position: relative;
  width: 1100px;
  left: -30px;
  top: 100px;
  margin-top: 200px;
}
.about_wrap4 .about_text{
  left: calc(80% - 200px);
}

.about_cate{
  width: 1000px;
  margin: 0 auto;
  height: 500px;
  position: relative;
  top: 200px;
}
.about_cate_box{
  width: 20%;
  height: 300px;
}
.about_cate_box:hover{
  background-color: #f3f3f3;

}
.about_cate_box:hover .about_cate_icon{
  left: 20px;
}
.about_cate_icon{
  font-size: 40px;
  position: relative;
  top: -20px;
  left: 0;
  transition: 0.5s all ease;
}